.mydiv{

    border: 2px solid #001233;
    width: 80%;
    transition: transform .1s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .5);
   
}
.main{
  
    display: inline;

}
.outer{
    background-color:white;
    padding-bottom: 5%;
    padding-top: 5%;
}

.zoom1 {
    transition: transform .1s;
    margin-right: 5%;
    
  }
  
  .zoom1:hover {
    transform: scale(1.3); }


    .zoom2 {
        transition: transform .1s;
        margin-left: 4%;
        
      }
      
      .zoom2:hover {
        transform: scale(1.3); }

        .mydiv:hover{
            transform: scale(1.05);
        }
        

       