.card1
{ padding: 20px;
     margin: 20px;
     color:#EFE0CA;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
      border: 1px solid black;
       background-color: #001233;
       transition: transform .2s;
cursor: pointer ;
}
.card1:hover{
    
    transform: scale(1.1);
}
